.title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.description {
    font-size: 1.3rem;
    padding-bottom: 35px;
}

.img-border {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-styles {
    width: 450px;
    border-radius: 5px;
    margin: 5em auto 0 auto;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.body-padding {
    padding: 0 2rem 2em 2rem;
}

@media (max-width: 960px) {
    .card-flex {
        justify-content: center;
    }
}

@media (max-width: 530px) {
    .card-styles {
        width: 100%;
    }
}